/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf');
    font-style: 'normal';
}

@font-face {
    font-family: 'Figtree Italic';
    src: url('../fonts/Figtree-Italic-VariableFont_wght.ttf');
    font-style: 'italic';
}

body {
    align-items: center;
    background-color: #F4D04E;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Figtree';
    padding: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h1:focus,
h1:hover,
time:focus,
time:hover,
.author-name:focus,
.author-name:hover {
    color: #5f5f5f;
    cursor: pointer;
}

.attribution {
    display: block;
    font-size: .875rem;
    text-align: center;
}

.attribution a {
    color: #5f5f5f;
}

.attribution a:hover {
    color: #979797;
}

.author {
    align-items: center;
    display: flex;
}

.author-image {
    height: 2rem;
    margin-right: .75rem;
    width: 2rem;
}

.author-name {
    font-size: .875rem;
    font-weight: 800;
}

.card {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: .5rem .5rem #000;
    display: block;
    padding: 1.5rem;
    max-width: 22rem;
}

.card img {
    border-radius: .75rem;
    width: 100%;
}

.category {
    background-color: #F4D04E;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0;
    padding: .375rem .875rem;
}

.category:focus,
.category:hover {
    background-color: #eedc99;
    color: #5f5f5f;
    cursor: pointer
}

.description {
    color: gray;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}